*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}

body{
    background-image: url("images/black.jpg");
    background-position: 0px 0px;
    background-repeat: repeat;
    background-size: cover;
    /* animation: animatedBackground 10s linear infinite alternate; */
    background-color: #d5dbdb;
    /* color: white; */
}

input{
    width: 9rem;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    background-color: white;
    /* border-color: green; */
}


#box{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
    flex-wrap: wrap;
}

#createNewUserId{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

#userSubmitId{
    margin-bottom: 1rem;
}

#passwordSubmitId{
    margin-bottom: 1rem;
}

#createUserId{
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-bottom: 1rem; */
}

#welcomeId{
    cursor: pointer;
}

#currencyId{
    padding-right: 5rem;
    font-size: larger;
}

#transactionId{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

#metaId{
    display: flex;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#inParaId{
    margin-right: 7px;
}

#inId{
    color: #29ba54;
    font-size: 22px;
    font-weight: bold;
}

#outParaId{
    margin-right: 7px;
    margin-left: 18px;
}

#outId{
    color: #e6053a;
    font-size: 22px;
    font-weight: bold;
}

#interestParaId{
    margin-right: 7px;
    margin-left: 18px;
}

#interestId{
    color: #29ba54;
    font-size: 22px;
    font-weight: bold;
}

#sortId{
    margin-top: 54px;
    padding-right: 300px;
    cursor: pointer;
}

#timerId{
    margin-top: 50px;
    /* padding-right: 1rem; */
    margin-right: 29px;
    display: flex;
    justify-content: start;
}

.inner_navbar{
    margin: 13px; /* equivalent to margin-top: 13px */
    height: 15px;
}

.innerBox{
    color: white;
    /* display: inline-block */
}

.imageOne{
    height: 2px;
    width: 120px;
}

.imageTwo{
    height: 80px;
    width: 120px;
}

.submitOne{
    font-size: medium;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.userClass{

    color: white;
    display: flex;
    justify-content: center;
    /* margin-right: 401px; */
    margin-top: 1rem;
    cursor: pointer;

    /* flex-wrap: wrap; */
}

#cuClass{
    display: flex;
    flex-wrap: wrap;
    /* word-wrap: break-word; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 4rem;
}

.userFormClass{
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin-right: 3rem; */
    margin-bottom: 2rem;
    cursor: pointer;
}

.labelClass{
    margin-left: 1rem;
}

.balanceClass{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: default;
}

.currentClass{
    margin-left: 10px;
}

.currencyClass{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dateClass{
    margin-left: 10px;
}

.scrollClass{
    overflow-y: scroll;
    /* margin-left: 6rem; */
    padding: 10px 20px;
    width: 400px;
    height: 270px;
    background-color: #877be3;
    border-radius: 1rem;
}

.trClass{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-bottom : 40px;
}

.dwClass{
    /* margin-left: 1rem; */
    /* margin-top: -20px; */
    color: whitesmoke;
    background-color: #08803e;
    height: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 800;
}

.wwClass{
    background-color : #e6053a;
    color: whitesmoke;
    height: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 800;
}

.amountClass{
    padding-left: 3rem;
    cursor: default;
    /* margin-top: -20px; */
}

.moneyClass{
    margin-top: 1rem;
    /* margin-left: -7rem; */
    background-color: #e69a47;
    border-radius: 10px;
    height: 5rem;
    width: 25rem
}

.serviceClass{
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.loanClass{
    margin-top: 1rem;
    /* margin-left: -7rem; */
    background-color: #2c992c;
    border-radius: 10px;
    height: 5rem;
    width: 25rem
}

.closeAccountClass{
    margin-top: 1rem;
    /* margin-left: -7rem; */
    background-color: #FD3B10;
    border-radius: 10px;
    height: 5rem;
    width: 25rem
}

.interestClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.metaClass{
    display: flex;
    justify-content: space-around;
    padding-left: 7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* flex-wrap: wrap; */
}

@media only screen and (max-width: 652px){
    *{
        font-size: 20px;
    }
    input{
        width: 7rem;
    }
    .serviceClass{
        text-align: center;
        padding-top: 8px;
        /* margin-top: 5px; */
    }
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
    }
    #createNewUserId{
        flex-direction: column;
    }
    #createUserId{
        height: 23px;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        margin-top: 60px;
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 90%;
    }
    .loanClass{
        width: 90%;
    }
    .closeAccountClass{
        width: 90%;
    }
    .scrollClass{
        width: 90%;
        margin-top: 1rem;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
    }
    
} 

@media only screen and ((min-width: 653px) and (max-width: 825px)) {
    
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 100px;
    }
    #createNewUserId{
        flex-direction: column;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        /* margin-top: 7rem; */
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 80%;
    }
    .loanClass{
        width: 80%;
    }
    .closeAccountClass{
        width: 80%;
    }
    .scrollClass{
        width: 80%;
        margin-top: 1rem;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
    }
    
}

