*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}

body{
    background-image: url("images/black.jpg");
    background-position: 0px 0px;
    background-repeat: repeat;
    background-size: 90%;
    animation: animatedBackground 14s linear infinite alternate;
    background-color: #d5dbdb;
    /* color: white; */
}

.container {
    position: relative;
    /* width: 10%; */
  }
  
  .image {
    display: block;
    width: 100%;
    /* height: auto; */
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 3rem;
    right: 0;
    background-color: #be315e;
    overflow: hidden;
    width: 72%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

input{
    width: 9rem;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    background-color: white;
    /* border-color: green; */
}


#box{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
    flex-wrap: wrap;
}

#createNewUserId{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

#userSubmitId{
    margin-bottom: 1rem;
}

#passwordSubmitId{
    margin-bottom: 1rem;
}

#createUserId{
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-bottom: 1rem; */
}

#welcomeId{
    cursor: default;
    font-size: larger;
    margin-left: 6rem;
}

#currencyId{
    padding-right: 7rem;
    font-size: larger;
}

#transactionId{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

#metaId{
    display: flex;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#inParaId{
    margin-right: 7px;
}

#inId{
    color: #29ba54;
    font-size: 22px;
    font-weight: bold;
}

#outParaId{
    margin-right: 7px;
    margin-left: 18px;
}

#outId{
    color: #e6053a;
    font-size: 22px;
    font-weight: bold;
}

#interestParaId{
    margin-right: 7px;
    margin-left: 18px;
}

#interestId{
    color: #29ba54;
    font-size: 22px;
    font-weight: bold;
}

#sortId{
    margin-top: 54px;
    /* padding-right: 80px; */
    cursor: cell;
}

#timerId{
    margin-top: 50px;
    /* padding-right: 1rem; */
    margin-right: 160px;
    display: flex;
    justify-content: start;
}

.inner_navbar{
    margin: 13px; /* equivalent to margin-top: 13px */
    height: 15px;
}

.innerBox{
    color: white;
    /* display: inline-block */
}

.imageOne{
    height: 2px;
    width: 120px;
}

.imageTwo{
    height: 80px;
    width: 120px;
    margin-left: 3rem;
}

.submitOne{
    font-size: medium;
    width: 60px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}

.submitOne:hover {
    background-color: white;
}

.submitOne:active {
  background-color: #3456b3;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.userClass{

    color: white;
    display: flex;
    justify-content: center;
    /* margin-right: 401px; */
    margin-top: 1rem;
    cursor: default;

    /* flex-wrap: wrap; */
}

#cuClass{
    display: flex;
    flex-wrap: wrap;
    /* word-wrap: break-word; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 4rem;
}

.userFormClass{
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin-right: 3rem; */
    margin-bottom: 2rem;
    cursor: default;
}

.labelClass{
    margin-left: 1rem;
}

.balanceClass{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: default;
}

.currentClass{
    margin-left: 10px;
    font-size: larger;
}

.currencyClass{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dateClass{
    margin-left: 10px;
    font-size: larger;
}

.scrollClass{
    overflow-y: scroll;
    /* margin-left: 6rem; */
    padding: 10px 20px;
    width: 400px;
    height: 270px;
    background-color: #877be3;
    border-radius: 1rem;
}

.trClass{
    display: flex;
    justify-content:space-between;
    margin-top: 22px;
    /* margin-bottom : 40px; */
    border-bottom: 1px solid black;
    padding-bottom: 23px;
}

.dwClass{
    /* margin-left: 1rem; */
    /* margin-top: -20px; */
    color: whitesmoke;
    background-color: #08803e;
    height: 20px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 800;
}

.wwClass{
    background-color : #e6053a;
    color: whitesmoke;
    height: 20px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 800;
}

.amountClass{
    padding-left: 3rem;
    cursor: default;
    /* margin-top: -20px; */
}

.moneyClass{
    margin-top: 1rem;
    /* margin-left: -7rem; */
    background-color: #e69a47;
    border-radius: 10px;
    height: 5rem;
    width: 25rem
}

.serviceClass{
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: default;
}

.loanClass{
    margin-top: 1rem;
    /* margin-left: -7rem; */
    background-color: #2c992c;
    border-radius: 10px;
    height: 5rem;
    width: 25rem
}

.closeAccountClass{
    margin-top: 1rem;
    /* margin-left: -7rem; */
    background-color: #FD3B10;
    border-radius: 10px;
    height: 5rem;
    width: 25rem
}

.interestClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.metaClass{
    display: flex;
    justify-content: space-around;
    padding-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: default;
    /* flex-wrap: wrap; */
}

@media only screen and (max-width: 394px){
    body{
        /* background-image: url("images/black.jpg"); */
        /* background-position: 0px 0px; */
        background-repeat:no-repeat;
        background-size: cover;
        animation: none;
        /* background-color: #d5dbdb; */
        /* color: white; */
    }
    .container {
        position: relative;
        /* width: 10%; */
    }
    
    .image {
        display: block;
        width: 100%;
        /* height: auto; */
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0px;
        right: 0;
        background-color: #be315e;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    #outId{
        padding-left: 10px;
    }
    #interestId{
        padding-left: 15px;
    }
    *{
        font-size: 20px;
    }
    input{
        width: 7rem;
    }
    .serviceClass{
        text-align: center;
        padding-top: 8px;
        margin-top: -4px;
    }
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
    }
    #welcomeId{
        font-size: large;
        margin-left: 0px;
    }
    #createNewUserId{
        flex-direction: column;
    }
    #createUserId{
        height: 23px;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 3rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: -5px;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        margin-top: 60px;
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 90%;
    }
    .loanClass{
        width: 90%;
    }
    .closeAccountClass{
        width: 90%;
    }
    .scrollClass{
        width: 90%;
        margin-top: 1rem;
        padding: 6px 20px;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
    }
    #inParaId{
        margin-right: 7px;
        margin-left: 18px;
        font-size: 18px;
    }
    
    #inId{
        color: #29ba54;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
    }
    
    #outParaId{
        margin-right: 7px;
        margin-left: 18px;
        font-size: 18px;
    }
    
    #outId{
        color: #e6053a;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
    }
    
    #interestParaId{
        margin-right: 3px;
        margin-left: 18px;
        font-size: 18px;
    }
    
    #interestId{
        color: #29ba54;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
    }
    .trClass{
        padding-bottom: 20px;
    }
    
    .submitOne{
        font-size: 23px;
        margin-top: 4px;
        padding-bottom: 30px;
    }
    .imageTwo{
        margin-left: 0px;
    }
}

@media only screen and ((min-width: 395px) and (max-width: 404px)){
    body{
        /* background-image: url("images/black.jpg"); */
        /* background-position: 0px 0px; */
        background-repeat:no-repeat;
        background-size: cover;
        animation: none;
        /* background-color: #d5dbdb; */
        /* color: white; */
    }
    .container {
        position: relative;
        /* width: 10%; */
    }
    
    .image {
        display: block;
        width: 80%;
        /* height: auto; */
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 3rem;
        right: 0px;
        background-color: #be315e;
        overflow: hidden;
        width: 80%;
        height: 0;
        transition: .5s ease;
    }
    #outId{
        padding-left: 10px;
    }
    #interestId{
        padding-left: 15px;
    }
    *{
        font-size: 20px;
    }
    input{
        width: 7rem;
    }
    .serviceClass{
        text-align: center;
        padding-top: 8px;
        /* margin-top: 5px; */
    }
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
    }
    #welcomeId{
        font-size: large;
        margin-left: 0px;
    }
    #createNewUserId{
        flex-direction: column;
    }
    #createUserId{
        height: 23px;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        margin-top: 60px;
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 93%;
    }
    .loanClass{
        width: 93%;
    }
    .closeAccountClass{
        width: 93%;
    }
    .scrollClass{
        width: 90%;
        margin-top: 1rem;
        padding: 6px 20px;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
    }
    #inParaId{
        margin-right: 7px;
        margin-left: 18px;
        font-size: 18px;
    }
    
    #inId{
        color: #29ba54;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
        margin-left: 15px;
    }
    
    #outParaId{
        margin-right: 7px;
        margin-left: 18px;
        font-size: 18px;
    }
    
    #outId{
        color: #e6053a;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
    }
    
    #interestParaId{
        margin-right: 7px;
        margin-left: 18px;
        font-size: 18px;
    }
    
    #interestId{
        color: #29ba54;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
    }
    .trClass{
        padding-bottom: 20px;
    }
    .submitOne{
        font-size: 23px;
        /* margin-right: 1px; */
    }
    
}

@media only screen and ((min-width: 405px) and (max-width: 494px)){
    body{
        /* background-image: url("images/black.jpg"); */
        /* background-position: 0px 0px; */
        background-repeat:no-repeat;
        background-size: cover;
        animation: none;
        /* background-color: #d5dbdb; */
        /* color: white; */
    }
    *{
        font-size: 20px;
    }
    input{
        width: 7rem;
    }
    .imageTwo{
        margin-left: 0px;
    }
    .container {
        position: relative;
        /* width: 10%; */
    }
    
    .image {
        display: block;
        width: 100%;
        /* height: auto; */
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0px;
        right: 0px;
        background-color: #be315e;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    #welcomeId{
        margin-left: 0px;
    }
    .serviceClass{
        text-align: center;
        padding-top: 8px;
        /* margin-top: 5px; */
    }
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
    }
    #welcomeId{
        font-size: large;
    }
    #createNewUserId{
        flex-direction: column;
    }
    #createUserId{
        height: 23px;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        margin-top: 60px;
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 90%;
    }
    .loanClass{
        width: 90%;
    }
    .closeAccountClass{
        width: 90%;
    }
    .scrollClass{
        width: 90%;
        margin-top: 1rem;
        padding: 6px 20px;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
        padding-left: 24px;
    }
    
    #inId{
        color: #29ba54;
        font-size: 19px;
        font-weight: bold;
    }
    
    #outId{
        color: #e6053a;
        font-size: 19px;
        font-weight: bold;
        margin-left: 10px;
    }
    
    #interestId{
        color: #29ba54;
        font-size: 19px;
        font-weight: bold;
        margin-left: 10px;
    }
    .trClass{
        padding-bottom: 20px;
    }
    .submitOne{
        font-size: 15px;
    }
}

@media only screen and ((min-width: 495px) and (max-width: 652px)){
    *{
        font-size: 20px;
    }
    input{
        width: 7rem;
    }
    .container {
        position: relative;
        /* width: 10%; */
    }
    
    .image {
        display: block;
        /* width: 42%; */
        /* height: auto; */
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 149px;
        right: 0px;
        background-color: #be315e;
        overflow: hidden;
        width: 43%;
        height: 0;
        transition: .5s ease;
    }
    .trClass{
        padding-bottom: 20px;
    }
    .serviceClass{
        text-align: center;
        padding-top: 8px;
        /* margin-top: 5px; */
    }
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
    }
    #welcomeId{
        font-size: large;
    }
    #createNewUserId{
        flex-direction: column;
    }
    #createUserId{
        height: 23px;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        margin-top: 60px;
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 90%;
    }
    .loanClass{
        width: 90%;
    }
    .closeAccountClass{
        width: 90%;
    }
    .scrollClass{
        width: 90%;
        margin-top: 1rem;
        padding: 6px 20px;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
    }
    
    /* #inId{
        color: #29ba54;
        font-size: 22px;
        font-weight: bold;
        font-size: 18px;
    } */
    
    #outId{
        color: #e6053a;
        font-size: 22px;
        font-weight: bold;
        margin-left: 10px;
    }
    
    #interestId{
        color: #29ba54;
        font-size: 22px;
        font-weight: bold;
        margin-left: 10px;
    }
    .submitOne{
        font-size: 15px;
    }
} 

@media only screen and ((min-width: 653px) and (max-width: 824px)) {
    
    .userFormClass{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 100px;
    }
    #createNewUserId{
        flex-direction: column;
    }
    .userClass input{
        width: 100%;
        margin-bottom: 7px;
    }
    #cuClass{
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #box{
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #currencyId{
        padding-right: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #sortId{
        padding-right: 0px;
        margin-top: 3rem;
    }
    #timerId{
        /* padding-right: 0px; */
        /* margin-top: 7rem; */
        margin-right: 0px;
    }
    #metaId{
        margin-bottom: 3rem;
    }
    .metaClass{
        padding-left: 0px;
    }
    .apClass{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .moneyClass{
        width: 80%;
    }
    .loanClass{
        width: 80%;
    }
    .closeAccountClass{
        width: 80%;
    }
    .scrollClass{
        width: 80%;
        margin-top: 1rem;
        padding: 6px 20px;
    }
    .balanceClass{
        justify-content: center;
        
    }
    .interestClass{
        margin-top: 1rem;
    }
    .submitOne{
        font-size: 15px;
    }
}

@media only screen and ((min-width: 825px) and (max-width: 958px)) {
    .metaClass{
        padding-left: 4rem;
    }
    #sortId{
        padding-right: 60px;
    }
    #timerId{
        margin-right: 70px;
    }
}

@media only screen and ((min-width: 494px) and (max-width: 823px)) {
    #welcomeId{
        margin-left: 0px;
    }
    .imageTwo{
        margin-left: 150px;
    }
    .container {
        position: relative;
        /* width: 10%; */
    }
    
    .image {
        display: block;
        /* width: 50%; */
        /* height: auto; */
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 150px;
        right: 0px;
        background-color: #be315e;
        overflow: hidden;
        width: 45%;
        height: 0;
        transition: .5s ease;
    }
}

@media only screen and ((min-width: 923px) and (max-width: 1140px)) {
    #currencyId{
        padding-right: 5rem;
    }
    .submitOne{
        font-size: 15px;
    }
    .metaClass{
        padding-left: 65px;
    }
    #timerId{
        margin-right: 80px;
    }
}
